body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: black;
  }

#buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
};

.button {
    height: 20px;
    padding: 10px 20px;
}

#response {
    display: flex;
    justify-content: center;
    text-align: center;
    color: rgb(255, 255, 255);
 }

#reset {
    height: 12px;
    font-size: 8px;
}

header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

#topText {
    font-size: 30px;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}

ul {
    list-style:none;
}

li {
    margin :10px;
}
#counters {
    color: white;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 15px;
}

#tally {
    display:flex;
    flex-wrap: nowrap;
}

#wins #loss {
    display:flex;
    flex-wrap: nowrap;
    flex-direction: column;
}