body {
    font-family:'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
  }

#buttons {color : blue;
    display:flex;
    justify-content: space-evenly;
    font-size:100px;
    margin: 50px;
};

#response {
    display:flex;
    flex-wrap: wrap;
    align-content:center;
    align-items: center;
    width: 400px;
}